.alert {
  @apply relative mb-4 rounded-lg font-medium;

  padding: 0.75rem 1rem;
  font-size: 14px;
  border: 1px solid var(--alert-border);
  background-color: var(--alert-bg);
  color: var(--alert-color);
}

.alert-heading {
  font-weight: 700;
  color: var(--alert-color);
}

.alert-link {
  font-weight: 700;
}

.alert-dismissible {
  .alert-close {
    @apply absolute -top-1 -right-1 z-10 flex items-center justify-center bg-white transition-all duration-200;
    @apply opacity-0;

    padding-block: 0.25rem;
    border: 1px solid var(--alert-border);
    color: var(--alert-color);
    border-radius: 0.25rem 0.75rem 0.25rem 0.75rem;

    &:hover {
      background-color: var(--alert-bg);
    }
  }

  &:hover .alert-close {
    @apply scale-110 opacity-100 shadow-lg;
  }
}

/* Alert Variants */
.alert-primary {
  --alert-border: var(--color-primary-600);
  --alert-bg: var(--color-primary-50);
  --alert-color: var(--color-primary-700);
}

.alert-success {
  --alert-border: var(--color-success-600);
  --alert-bg: var(--color-success-50);
  --alert-color: var(--color-success-700);
}

.alert-info {
  --alert-border: var(--color-info-600);
  --alert-bg: var(--color-info-50);
  --alert-color: var(--color-info-700);
}

.alert-warning {
  --alert-border: var(--color-warning-600);
  --alert-bg: var(--color-warning-50);
  --alert-color: var(--color-warning-700);
}

.alert-danger {
  --alert-border: var(--color-danger-600);
  --alert-bg: var(--color-danger-50);
  --alert-color: var(--color-danger-700);
}

.alert-light {
  --alert-border: var(--color-slate-300);
  --alert-bg: var(--color-slate-50);
  --alert-color: var(--color-slate-900);
}

.alert-dark {
  --alert-border: var(--color-slate-900);
  --alert-bg: var(--color-slate-900);
  --alert-color: #fff;
}
