.bottom-sheet-backdrop {
  position: fixed;
  inset: 0;
  background-color: black;
  opacity: 0.7;
  transition: opacity 300ms cubic-bezier(0.45, 1.005, 0, 1.005);
  z-index: var(--zindex-modal-backdrop);

  /* @media (prefers-color-scheme: dark) {
    opacity: 0.7;
  } */

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
  }
}

.bottom-sheet-popup {
  box-sizing: border-box;
  position: fixed;
  max-height: 95dvh;
  bottom: 0;
  left: 0;
  right: 0;
  border-top-left-radius: 0.625rem;
  border-top-right-radius: 0.625rem;
  outline: none;
  background-color: #fff;
  color: var(--color-gray-900);
  transition: all 250ms;
  z-index: var(--zindex-modal);
  display: flex;
  flex-direction: column;
  user-select: none;
  transition: all 0.15s;
  transform: translateY(calc(100% * var(--nested-dialogs)));
  translate: 0 calc(100% * var(--nested-dialogs));

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
    transform: translateY(20%);
  }
}

.bottom-sheet-body {
  padding: 0 0.75rem 0.75rem 0.75rem;
  flex-grow: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.bottom-sheet-header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem 0.75rem 0.625rem 0.75rem;
  border-top-left-radius: 0.625rem;
  border-top-right-radius: 0.625rem;
  font-size: 14px;
  font-weight: 600;

  &::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 40px;
    height: 4px;
    background-color: #d4d8e8;
    border-radius: 2px;
    margin: 4px auto;
    cursor: grab;
    transition:
      background-color 0.2s ease,
      transform 0.2s ease;
  }

  &:hover::before {
    background-color: #c8c9fd;
    transform: translateX(-50%) scale(1.1);
  }

  &:active::before {
    cursor: grabbing;
    background-color: var(--color-slate-600);
    transform: translateX(-50%) scale(1);
  }
}

.bottom-sheet-title {
  display: flex;
  flex: 1 0 auto;
}

.bottom-sheet-description {
  margin: 0 0 1.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--color-gray-600);
}
