@layer base {
  .btn {
    --btn-color: var(--color-slate-900);
    --btn-variant-color: var(--color-primary-600);
    --btn-hover-color: var(--btn-color);
    --btn-active-color: var(--btn-color);
    --btn-border-color: transparent;
    --btn-border-hover-color: var(--btn-border-color);
    --btn-border-active-color: var(--btn-border-hover-color);
    --btn-bg-color: transparent;
    --btn-bg-hover-color: color-mix(in oklab, var(--btn-variant-color) 10%, transparent);
    --btn-bg-active-color: color-mix(in oklab, var(--btn-variant-color) 15%, transparent);
    --btn-focus-shadow: color-mix(in oklab, var(--btn-variant-color) 50%, transparent);
    --btn-padding-x: 0.5rem;
    --btn-padding-y: 0.375rem;
  }
}

@layer components {
  .btn {
    border: 1px solid transparent;
    color: var(--btn-color);
    background-color: var(--btn-bg-color);
    padding: var(--btn-padding-y) var(--btn-padding-x);
    border-radius: 0.25rem;
    font-size: 0.75rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.125rem;
    display: inline-flex;
    white-space: nowrap;
    gap: 0.25rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &.rounded-full:not(.btn-icon) {
      padding-left: calc(var(--btn-padding-x) + 0.25rem);
      padding-right: calc(var(--btn-padding-x) + 0.25rem);
    }

    &.btn-icon {
      --btn-padding-x: var(--btn-padding-y);
    }

    &.outlined,
    &:focus-visible {
      border-color: var(--btn-border-color);
      outline: none;
    }

    &:hover:not(:disabled):not([disabled]):not(:active):not(.active) {
      color: var(--btn-hover-color);
      border-color: var(--btn-border-hover-color);
      background-color: var(--btn-bg-hover-color);
    }

    &:focus-visible:not(:disabled) {
      box-shadow: 0 0 0 2px var(--btn-focus-shadow);
    }

    &:active:not(:disabled),
    &.active:not(:disabled) {
      color: var(--btn-active-color);
      border-color: var(--btn-border-active-color);
      background-color: var(--btn-bg-active-color);
    }

    &:disabled {
      opacity: 0.35;
      cursor: not-allowed;

      &.outlined {
        --btn-border-color: var(--color-neutral-400);
      }
    }

    &.btn-light {
      --btn-bg-color: var(--color-slate-100);
      --btn-hover-color: var(--color-primary-600);
      --btn-active-color: var(--color-primary-700);

      &.outlined {
        --btn-border-color: var(--color-slate-300);
        --btn-border-hover-color: var(--color-primary-600);
        --btn-border-active-color: var(--color-primary-700);
      }
    }

    &.btn-dark {
      --btn-color: #fff;
      --btn-variant-color: var(--color-slate-700);

      --btn-bg-color: var(--color-slate-800);
      --btn-bg-hover-color: var(--color-slate-700);
      --btn-bg-active-color: var(--color-slate-900);

      &.outlined {
        --btn-color: var(--color-slate-900);
        --btn-bg-color: #fff;
        --btn-border-color: var(--color-slate-900);

        --btn-bg-hover-color: var(--color-slate-100);

        --btn-active-color: #fff;
        --btn-border-active-color: var(--color-slate-900);
      }
    }

    &.btn-primary,
    &.btn-success,
    &.btn-info,
    &.btn-danger,
    &.btn-warning {
      --btn-color: #fff;
      --btn-bg-color: var(--btn-variant-color);
      --btn-bg-hover-color: color-mix(in oklab, var(--btn-variant-color) 80%, transparent);

      &.outlined {
        --btn-color: var(--btn-variant-color);
        --btn-bg-color: #fff;
        --btn-border-color: var(--btn-variant-color);

        --btn-bg-hover-color: color-mix(in oklab, var(--btn-variant-color) 10%, transparent);

        --btn-active-color: #fff;
      }
    }

    &.btn-primary {
      --btn-variant-color: var(--color-primary-600);

      --btn-bg-active-color: var(--color-primary-700);

      &.outlined {
        --btn-border-active-color: var(--color-primary-700);
      }
    }

    &.btn-success {
      --btn-variant-color: var(--color-success-600);

      --btn-bg-active-color: var(--color-success-700);

      &.outlined {
        --btn-border-active-color: var(--color-success-700);
      }
    }

    &.btn-info {
      --btn-variant-color: var(--color-info-600);

      --btn-bg-active-color: var(--color-info-600);

      &.outlined {
        --btn-border-active-color: var(--color-info-600);
      }
    }

    &.btn-danger {
      --btn-variant-color: var(--color-danger-500);

      --btn-bg-active-color: var(--color-danger-600);

      &.outlined {
        --btn-border-active-color: var(--color-danger-600);
      }
    }

    &.btn-warning {
      --btn-variant-color: var(--color-warning-500);

      --btn-bg-active-color: var(--color-warning-600);

      &.outlined {
        --btn-border-active-color: var(--color-warning-600);
      }
    }

    &.btn-ghost {
      --btn-hover-color: var(--color-primary-600);
      --btn-active-color: var(--color-primary-700);

      &.outlined {
        --btn-border-color: var(--color-slate-300);
        --btn-border-hover-color: var(--color-primary-600);
        --btn-hover-color: var(--color-primary-600);
        --btn-active-color: var(--color-primary-700);
      }
    }
  }

  .btn-xs {
    --btn-padding-x: 0.5rem;
    --btn-padding-y: 0.25rem;

    font-size: 0.75rem;
    line-height: 0.875rem;

    &.btn-icon {
      --btn-padding-x: var(--btn-padding-y);
    }
  }

  .btn-sm {
    --btn-padding-x: 0.5rem;
    --btn-padding-y: 0.25rem;

    line-height: 1.125rem;

    &.btn-icon {
      --btn-padding-x: var(--btn-padding-y);
    }
  }

  .btn-lg {
    --btn-padding-x: 0.75rem;
    --btn-padding-y: 0.5rem;

    font-size: 0.875rem;
    line-height: 1.125rem;
    gap: 0.5rem;
    border-radius: 0.5rem;

    &.btn-icon {
      --btn-padding-x: var(--btn-padding-y);
    }
  }

  .btn-xl {
    --btn-padding-x: 0.75rem;
    --btn-padding-y: 0.5rem;

    font-size: 0.875rem;
    line-height: 1.375rem;
    gap: 0.5rem;
    border-radius: 0.5rem;

    &.btn-icon {
      --btn-padding-x: var(--btn-padding-y);
    }
  }

  .btn-2xl {
    --btn-padding-x: 1rem;
    --btn-padding-y: 0.625rem;

    font-size: 1rem;
    line-height: 1.625rem;
    gap: 0.5rem;
    border-radius: 0.5rem;

    &.btn-icon {
      --btn-padding-x: var(--btn-padding-y);
    }
  }

  .btn-3xl {
    --btn-padding-x: 1.25rem;
    --btn-padding-y: 0.875rem;

    font-size: 1rem;
    line-height: 1.625rem;
    gap: 0.5rem;
    border-radius: 0.5rem;

    &.btn-icon {
      --btn-padding-x: var(--btn-padding-y);
    }
  }
}
