.collapsible {
  display: flex;
  flex-direction: column;

  & > [data-panel-open] .collapsible-icon {
    transform: rotate(90deg);
  }

  [aria-expanded] + div {
    display: flex;
    height: var(--collapsible-panel-height);
    flex-direction: column;
    justify-content: end;
    overflow: hidden;
    transition: all 150ms ease-out;

    &[hidden]:not([hidden='until-found']) {
      display: none;
    }
  }

  [aria-expanded] + [data-starting-style],
  [aria-expanded] + [data-ending-style] {
    height: 0;
  }
}
