.collapsible {
  display: flex;
  min-height: 9rem;
  flex-direction: column;
  justify-content: center;

  & > [data-panel-open] .collapsible-icon {
    transform: rotate(90deg);
  }

  & > [data-open] {
    display: flex;
    height: var(--collapsible-panel-height);
    flex-direction: column;
    justify-content: end;
    overflow: hidden;
    transition: all 150ms ease-out;

    &[hidden]:not([hidden='until-found']) {
      display: none;
    }

    &[data-starting-style],
    &[data-ending-style] {
      height: 0;
    }
  }
}
