.field {
  --input-padding-x: 0.5rem;
  --input-padding-y: 0.375rem;
  --input-lh: 1.125rem;
  --input-fs: 0.75rem;
  --input-icon-size: 1.25rem;

  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  line-height: var(--input-lh) !important;
  border: none !important;
  font-size: var(--input-fs);
  font-weight: 500;

  &.prefix {
    display: flex;
    @apply w-full xl:w-25;
    flex-shrink: 0;
  }

  .icon-start,
  .icon-end {
    position: absolute;
    top: calc(var(--input-padding-y) + var(--input-lh) / 2 + 1px);
    width: var(--input-icon-size);
    height: var(--input-icon-size);
    cursor: pointer;
    transform: translateY(-50%);

    @apply text-slate-400;

    &:hover {
      color: var(--color-slate-900);
    }
  }

  .icon-start {
    left: calc(var(--input-padding-x) * 0.75 + 0.375rem);
  }

  .icon-end {
    right: calc(var(--input-padding-x) * 0.75 + 0.375rem);
  }

  &.required {
    .field-label::after {
      content: '*';
      color: var(--color-danger);
      margin-left: 0.25rem;
    }
  }

  &.field-sm {
    --input-padding-x: 0.5rem;
    --input-padding-y: 0.25rem;
    --input-lh: 1.125rem;
    --input-fs: 0.75rem;
  }

  &.field-lg {
    --input-padding-x: 0.5rem;
    --input-padding-y: 0.5rem;
    --input-lh: 1.125rem;
    --input-fs: 0.875rem;
  }

  &.field-xl {
    --input-padding-x: 0.75rem;
    --input-padding-y: 0.5rem;
    --input-lh: 1.375rem;
    --input-fs: 0.875rem;

    border-radius: 0.5rem;
  }

  &.field-2xl {
    --input-padding-x: 1rem;
    --input-padding-y: 0.625rem;
    --input-lh: 1.625rem;
    --input-fs: 1rem;

    border-radius: 0.5rem;
  }

  &.field-3xl {
    --input-padding-x: 1rem;
    --input-padding-y: 0.875rem;
    --input-lh: 1.625rem;
    --input-fs: 1rem;
    --input-icon-size: 1.375rem;

    border-radius: 0.5rem;
  }
}

.field-control {
  font-family: inherit;
  padding: var(--input-padding-y) var(--input-padding-x);
  line-height: var(--input-lh);
  border-radius: 0.5rem;
  border: 1px solid var(--color-slate-300);
  color: var(--color-slate-900);
  background-clip: padding-box;
  appearance: none;
  transition:
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  outline: none;
  @apply w-full;

  &::placeholder {
    color: var(--color-slate-400);
    /* font-style: italic; */
  }

  &:hover:not(:disabled):not([disabled]),
  &:focus-visible:not(:disabled):not([disabled]) {
    @apply border-primary-600/70;
  }

  &:focus-visible:not([readonly]):not(:disabled):not([disabled]) {
    @apply ring-3 ring-primary-600/20;
  }

  .field.invalid &.field-control {
    @apply border-danger-600/70 text-danger;

    &::placeholder {
      color: var(--color-danger-300);
    }

    &:hover:not(:disabled):not([disabled]),
    &:focus-visible:not(:disabled):not([disabled]) {
      @apply border-danger-600/70;
    }

    &:focus-visible:not([readonly]):not(:disabled):not([disabled]) {
      @apply ring-danger-600/20;
    }
  }

  &.rounded-full {
    border-radius: 50rem;

    padding-left: calc(var(--input-padding-x) + 0.25rem);
    padding-right: calc(var(--input-padding-x) + 0.25rem);
  }

  .icon-start ~ & {
    padding-left: calc(var(--input-padding-x) + var(--input-lh) + 0.5rem);
  }

  .icon-end ~ & {
    padding-right: calc(var(--input-padding-x) + var(--input-lh) + 0.5rem);
  }
}

.field-label {
  font-size: 12px;
  font-weight: 600;
  line-height: 1rem;

  & ~ .icon-start,
  & ~ .icon-end {
    /* margin-top: 1rem; */
    top: calc(var(--input-padding-y) + var(--input-lh) / 2 + 1.25rem + 1px);
  }
}

.field-description {
  color: var(--color-slate-400);
  font-size: 12px;
  font-weight: 500;
  line-height: 1rem;
  cursor: default;
}

.field-feedback {
  display: inline-flex;
  font-size: 0.75rem;
  background-color: var(--color-danger);
  color: #fff;
  border-radius: 0.25rem;
  padding: 0 0.5rem;
  line-height: 1.375rem;
}

.field-floating {
  position: relative;
  z-index: 0;

  input {
    display: block;
    width: 100%;
    appearance: none;
    background: transparent;
    padding: 1.25rem 0 0.25rem 0;
    font-size: 0.875rem;
    color: var(--color-slate-900);
    border: none;
    border-bottom: 2px solid var(--color-slate-300);
    outline: none;
    transition: border-color 0.3s ease-in-out;

    &::placeholder {
      color: transparent;
    }

    &[type='number'] {
      @apply font-mono;
    }

    &:focus {
      @apply border-primary-600 ring-0;
    }
  }

  label {
    position: absolute;
    bottom: 0.5rem;
    z-index: -10;
    font-size: 0.875rem;
    font-weight: 600;
    color: var(--color-slate-500);
    transform-origin: top left;
    transform: translateY(-1rem) scale(0.85);
    transition:
      transform 0.3s ease-in-out,
      color 0.3s ease-in-out;
    pointer-events: none;
    left: auto;
  }

  input:placeholder-shown ~ label {
    transform: translateY(0) scale(1);
  }

  input:focus ~ label {
    transform: translateY(-1rem) scale(0.85);
    left: 0;
    @apply text-primary-600;
  }

  /* RTL Support */
  &:dir(rtl) {
    input:focus ~ label {
      left: auto;
      transform: translateY(-1rem) scale(0.85) translateX(0.25em);
    }
  }
}
