.form-control-root {
  --t-input-padding-x: 0.5rem;
  --t-input-padding-y: 0.375rem;
  --t-input-lh: 1.125rem;
  --t-input-fs: 0.75rem;
  --t-input-icon-size: 1.25rem;

  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  line-height: var(--t-input-lh) !important;
  border: none !important;
  font-size: var(--t-input-fs);
  font-weight: 500;

  &.prefix {
    display: flex;
    @apply w-full xl:w-[100px];
    flex-shrink: 0;
  }

  .icon-start,
  .icon-end {
    position: absolute;
    top: calc(var(--t-input-padding-y) + var(--t-input-lh) / 2 + 1px);
    width: var(--t-input-icon-size);
    height: var(--t-input-icon-size);
    cursor: pointer;
    transform: translateY(-50%);

    @apply text-neutral-400;

    &:hover {
      color: var(--color-neutral-900);
    }
  }

  .icon-start {
    left: calc(var(--t-input-padding-x) * 0.75 + 0.375rem);
  }

  .icon-end {
    right: calc(var(--t-input-padding-x) * 0.75 + 0.375rem);
  }

  &.invalid {
    > .form-control {
      border-color: var(--t-danger-400);
      color: var(--t-danger);

      &::placeholder {
        color: var(--t-danger-300);
      }

      &:hover,
      &:focus-visible {
        border-color: var(--t-danger);
      }

      &:not([readonly]):focus-visible {
        box-shadow: 0 0 0 3px #fb042140;
        z-index: 1;
      }
    }
  }

  &.required {
    .form-label::after {
      content: '*';
      color: var(--color-danger);
      margin-left: 0.25rem;
    }
  }

  &.form-control-sm {
    --t-input-padding-x: 0.5rem;
    --t-input-padding-y: 0.25rem;
    --t-input-lh: 1.125rem;
    --t-input-fs: 0.75rem;
  }

  &.form-control-lg {
    --t-input-padding-x: 0.5rem;
    --t-input-padding-y: 0.5rem;
    --t-input-lh: 1.125rem;
    --t-input-fs: 0.75rem;
  }

  &.form-control-xl {
    --t-input-padding-x: 0.75rem;
    --t-input-padding-y: 0.5rem;
    --t-input-lh: 1.375rem;
    --t-input-fs: 0.875rem;

    border-radius: 0.5rem;
  }

  &.form-control-2xl {
    --t-input-padding-x: 1rem;
    --t-input-padding-y: 0.625rem;
    --t-input-lh: 1.625rem;
    --t-input-fs: 0.875rem;

    border-radius: 0.5rem;
  }

  &.form-control-3xl {
    --t-input-padding-x: 1rem;
    --t-input-padding-y: 0.875rem;
    --t-input-lh: 1.625rem;
    --t-input-fs: 1rem;
    --t-input-icon-size: 1.375rem;

    border-radius: 0.5rem;
  }
}

.form-control {
  font-family: inherit;
  padding: var(--t-input-padding-y) var(--t-input-padding-x);
  line-height: var(--t-input-lh);
  border-radius: 0.5rem;
  border: 1px solid var(--t-neutral-300);
  color: var(--t-neutral-900);
  background-clip: padding-box;
  appearance: none;
  transition:
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  outline: none;
  @apply w-full;

  &::placeholder {
    color: var(--t-neutral-300);
    /* font-style: italic; */
  }

  &:hover:not(:disabled):not([disabled]),
  &:focus-visible:not(:disabled):not([disabled]) {
    border-color: var(--t-primary-300);
  }

  &:focus-visible:not([readonly]):not(:disabled):not([disabled]) {
    box-shadow: var(--t-ring-primary);
  }

  &.form-control-success > .form-control {
    background-color: var(--t-success-100);
    border-color: var(--t-success-400);

    &::placeholder {
      color: var(--t-success-300);
    }

    &:hover,
    &:focus-visible {
      border-color: var(--t-success-500);
    }

    &:not([readonly]):focus-visible {
      box-shadow: 0 0 0 3px #79e35c40;
    }
  }

  &.rounded-full {
    border-radius: 50rem;

    padding-left: calc(var(--t-input-padding-x) + 0.25rem);
    padding-right: calc(var(--t-input-padding-x) + 0.25rem);
  }

  .form-control-root.addon-start & {
    padding-left: calc(var(--t-input-padding-x) + var(--t-input-lh) + 0.5rem);
  }

  .form-control-root.addon-end & {
    padding-right: calc(var(--t-input-padding-x) + var(--t-input-lh) + 0.5rem);
  }
}

.form-label {
  font-size: 12px;
  font-weight: 600;
  line-height: 1rem;

  & ~ .icon-start,
  & ~ .icon-end {
    /* margin-top: 1rem; */
    top: calc(var(--t-input-padding-y) + var(--t-input-lh) / 2 + 1.25rem + 1px);
  }
}

.form-help-text {
  color: var(--t-neutral-300);
  font-size: 12px;
  font-weight: 500;
  line-height: 1rem;
  cursor: default;
}

.invalid-feedback {
  display: inline-flex;
  font-size: 0.75rem;
  background-color: var(--t-danger);
  color: #fff;
  border-radius: 0.25rem;
  padding: 0 0.5rem;
  line-height: 1.375rem;
}
