.link {
  text-decoration: none;
  cursor: pointer;
  outline: none;

  &:hover,
  &:focus,
  &:focus-visible {
    text-decoration: underline;
    outline: none;
  }

  &:active,
  &:visited {
    color: var(--color-primary);
  }

  &.link-primary {
    color: var(--color-primary-700);
    font-weight: 500;

    &:active,
    &:visited {
      color: var(--color-primary-900);
    }
  }

  &.link-danger {
    color: var(--color-danger);

    &:active,
    &:visited {
      color: var(--color-danger-700);
    }
  }

  &.link-light {
    color: var(--color-slate-500);

    &:hover,
    &:focus,
    &:focus-visible {
      color: var(--color-primary-600);
    }

    &:active,
    &:visited {
      color: var(--color-slate-900);
    }
  }
}

.stretched-link {
  &::after {
    content: '';
    @apply absolute inset-0 z-0 cursor-pointer;
  }
}
