.menu-popup {
  border: 1px solid var(--t-neutral-300);
  box-sizing: border-box;
  padding-block: 0.25rem;
  border-radius: 0.375rem;
  background-color: canvas;
  gap: 1px;
  display: flex;
  flex-direction: column;
  transform-origin: var(--transform-origin);
  transition:
    transform 150ms,
    opacity 150ms;
  min-width: 150px;
  outline: none;

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
    transform: scale(0.9);
  }
}

.menu-item {
  outline: 0;
  user-select: none;
  padding-block: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.5;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  min-width: 10rem;
  border-radius: 0.375rem;
  cursor: pointer;

  &[data-highlighted] {
    z-index: 0;
    position: relative;
  }

  &[data-highlighted]:not([data-disabled])::before {
    content: '';
    z-index: -1;
    position: absolute;
    inset-block: 0;
    inset-inline: 0.25rem;
    border-radius: 0.25rem;
    background-color: var(--t-primary-50);
  }

  &[data-disabled] {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &.menu-danger {
    color: var(--t-danger);

    &[data-highlighted] {
      color: #fff;
    }

    &[data-highlighted]::before {
      background-color: var(--t-danger);
    }
  }
}

.menu-separator {
  margin: 2px 0.25rem;
  height: 1px;
  background-color: var(--t-neutral-300);
}

.menu-group {
  gap: 0.25rem;
  display: flex;
  flex-direction: column;
}

.menu-group-label {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0px;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.25rem;
}
