.menu-popup {
  box-sizing: border-box;
  padding-block: 0.25rem;
  border: 1px solid var(--color-slate-200);
  border-radius: 0.5rem;
  background-color: canvas;
  gap: 1px;
  display: flex;
  flex-direction: column;
  transform-origin: var(--transform-origin);
  box-shadow:
    0 10px 15px -3px color-mix(in oklab, var(--color-slate-900) 10%, transparent),
    0 4px 6px -4px color-mix(in oklab, var(--color-slate-900) 10%, transparent);
  transition:
    transform 150ms,
    opacity 150ms;
  min-width: 150px;
  outline: none;

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
    transform: scale(0.95);
  }
}

.menu-item {
  outline: 0;
  user-select: none;
  padding-block: 0.375rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  align-items: center;
  column-gap: 0.5rem;
  row-gap: 2px;
  width: 100%;
  min-width: 12rem;
  border-radius: 0.375rem;
  cursor: pointer;

  &[data-highlighted] {
    z-index: 0;
    position: relative;
  }

  &[data-highlighted]:not([data-disabled])::before {
    content: '';
    z-index: -1;
    position: absolute;
    inset-block: 0;
    inset-inline: 0.25rem;
    border-radius: 0.25rem;
    background-color: var(--color-slate-100);
  }

  &[data-disabled] {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &.menu-danger {
    color: var(--color-danger);

    &[data-highlighted] {
      color: #fff;
    }

    &[data-highlighted] .menu-command {
      color: rgb(255 255 255 / 0.85);
    }

    &[data-highlighted]::before {
      background-color: var(--color-danger);
    }
  }
}

.menu-separator {
  margin: 2px 0.25rem;
  height: 1px;
  background-color: var(--color-slate-300);
}

.menu-group {
  gap: 0.25rem;
  display: flex;
  flex-direction: column;
}

.menu-group-label {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0px;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.25rem;
}

.menu-command {
  margin-inline-start: auto;
  display: flex;
  align-items: center;
  column-gap: 0.125rem;
  padding-inline-start: 0.5rem;
  color: var(--color-slate-400);
  font-size: 14px;
  line-height: 1.5;
}

.menu-command abbr {
  text-decoration: none;
}

.menu-command-key {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New',
    monospace;
}

.menu-command-sep {
  user-select: none;
}
