.number-field {
  @apply flex flex-col items-start gap-1;
}

.number-field-scrub-area {
  @apply cursor-ew-resize;
  user-select: none;
}

.number-field-scrub-area-cursor {
  filter: drop-shadow(0 1px 1px #0008);
}

.number-field-group {
  display: flex;
}

.number-field-label {
  @apply cursor-ew-resize text-sm font-medium;
  color: var(--color-slate-900);
}

.number-field-input {
  min-width: 8rem;
  font-variant-numeric: tabular-nums;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;

  &:focus {
    z-index: 1;
  }
}

.number-field-decrement,
.number-field-increment {
  @apply inline-flex items-center justify-center border border-slate-300 bg-white transition-colors;
  @apply hover:bg-slate-50 active:bg-slate-100;

  width: 2.5rem;
  padding: 0;
  color: var(--color-slate-700);
  user-select: none;
  cursor: pointer;

  &:disabled {
    @apply cursor-not-allowed opacity-50;

    &:hover {
      @apply bg-white;
    }
  }

  & svg {
    width: 1rem;
    height: 1rem;
  }
}

.number-field-decrement {
  border-left: 0;
  border-right: 0;
  border-radius: 0;
}

.number-field-increment {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border-left: 0;
}

.number-field.rounded-full {
  & .number-field-input {
    padding-inline: 0.5rem;
    border-top-left-radius: 9999px;
    border-bottom-left-radius: 9999px;
  }

  & .number-field-increment {
    border-top-right-radius: 9999px;
    border-bottom-right-radius: 9999px;
  }
}
