.offcanvas-backdrop {
  position: fixed;
  inset: 0;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(4px);
  transition: all 200ms;

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
  }
}

.offcanvas-content {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 51;
  display: flex;
  flex-direction: column;
  background-color: var(--color-background, #fff);
  color: var(--color-foreground, #000);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
  overflow: auto;
  max-height: 100%;
  transition: all 200ms ease-in-out;

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
  }

  @media not all and (min-width: 1024px) {
    right: 0;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    max-height: 90%;
    border-top: 1px solid var(--color-slate-300);

    &[data-starting-style],
    &[data-ending-style] {
      transform: translateY(2rem);
    }
  }

  @media (min-width: 1024px) {
    top: 0;
    width: 360px;
    max-width: 90%;
    border-right: 1px solid var(--color-slate-300);

    &[data-starting-style],
    &[data-ending-style] {
      transform: translateX(-2rem);
    }
  }
}

.offcanvas-heading {
  display: flex;
  align-items: center;
  padding: 1.25rem;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
}

.offcanvas-description {
  padding: 0 1.25rem 1.25rem;
  font-size: 0.875rem;
  color: var(--color-slate-700);

  .offcanvas-heading + & {
    padding-top: 0;
  }
}

.offcanvas-body {
  padding: 1.25rem;
  flex: 1;
  overflow-y: auto;
}

.offcanvas-close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  padding: 0.5rem;
  color: var(--color-slate-400);
  cursor: pointer;
  transition: all 150ms;
  outline: none;

  @apply flex items-center justify-center rounded-full;

  &:hover {
    color: var(--color-slate-900);
    background-color: var(--color-slate-100);
  }

  &:focus-visible {
    color: var(--color-slate-900);
    outline: 2px solid var(--color-primary-500);
    outline-offset: 2px;
  }
}
