.popover-icon-button {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0;
  margin: 0;
  outline: 0;
  border: 1px solid var(--color-slate-200);
  border-radius: 0.375rem;
  background-color: var(--color-slate-50);
  color: var(--color-slate-900);
  user-select: none;

  @media (hover: hover) {
    &:hover {
      background-color: var(--color-slate-100);
    }
  }

  &:active {
    background-color: var(--color-slate-100);
  }

  &[data-popup-open] {
    background-color: var(--color-slate-100);
  }

  &:focus-visible {
    outline: 2px solid var(--color-primary);
    outline-offset: -1px;
  }
}

.popover-icon {
  width: 1.25rem;
  height: 1.25rem;
}

.popover {
  width: var(--positioner-width);
  height: var(--positioner-height);
  max-width: var(--available-width);
}

.popover-popup {
  box-sizing: border-box;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  background-color: canvas;
  color: var(--color-slate-900);
  transform-origin: var(--transform-origin);
  transition:
    transform 150ms,
    opacity 150ms;

  width: var(--popup-width, auto);
  height: var(--popup-height, auto);
  max-width: 500px;

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
    transform: scale(0.9);
  }

  @media (prefers-color-scheme: light) {
    outline: 1px solid var(--color-slate-200);
    box-shadow:
      0 10px 15px -3px var(--color-slate-200),
      0 4px 6px -4px var(--color-slate-200);
  }

  @media (prefers-color-scheme: dark) {
    outline: 1px solid var(--color-slate-300);
    outline-offset: -1px;
  }
}

.popover-arrow {
  display: flex;

  &[data-side='top'] {
    bottom: -8px;
    rotate: 180deg;
  }

  &[data-side='bottom'] {
    top: -8px;
    rotate: 0deg;
  }

  &[data-side='left'] {
    right: -13px;
    rotate: 90deg;
  }

  &[data-side='right'] {
    left: -13px;
    rotate: -90deg;
  }
}

.popover-arrow-fill {
  fill: canvas;
}

.popover-arrow-outer {
  @media (prefers-color-scheme: light) {
    fill: var(--color-slate-200);
  }
}

.popover-arrow-inner {
  @media (prefers-color-scheme: dark) {
    fill: var(--color-slate-300);
  }
}

.popover-title {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
}

.popover-description {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--color-slate-600);
}

.popover-container {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  justify-content: center;
}
