@theme {
  --font-sans:
    Inter, ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji;

  --color-body: #1f2124;

  --color-interaction: #1e5ae1;

  --color-primary: var(--color-primary-500);
  --color-primary-50: theme(colors.cyan.50);
  --color-primary-100: theme(colors.cyan.100);
  --color-primary-200: theme(colors.cyan.200);
  --color-primary-300: theme(colors.cyan.300);
  --color-primary-400: theme(colors.cyan.400);
  --color-primary-500: theme(colors.cyan.500);
  --color-primary-600: theme(colors.cyan.600);
  --color-primary-700: theme(colors.cyan.700);
  --color-primary-800: theme(colors.cyan.800);
  --color-primary-900: theme(colors.cyan.900);
  --color-primary-950: theme(colors.cyan.950);

  --color-secondary: var(--color-secondary-500);
  --color-secondary-100: #ffe8d7;
  --color-secondary-200: #ffccaf;
  --color-secondary-300: #ffa987;
  --color-secondary-400: #ff8352;
  --color-secondary-500: #ff5038;
  --color-secondary-700: #b71c22;
  --color-secondary-900: #7a0a20;

  --color-success: var(--color-success-500);
  --color-success-50: theme(colors.emerald.50);
  --color-success-100: theme(colors.emerald.100);
  --color-success-200: theme(colors.emerald.200);
  --color-success-300: theme(colors.emerald.300);
  --color-success-400: theme(colors.emerald.400);
  --color-success-500: theme(colors.emerald.500);
  --color-success-600: theme(colors.emerald.600);
  --color-success-700: theme(colors.emerald.700);
  --color-success-800: theme(colors.emerald.800);
  --color-success-900: theme(colors.emerald.900);
  --color-success-950: theme(colors.emerald.950);

  --color-info-500: #1e5ae1;
  --color-info: var(--color-info-500);

  --color-danger: var(--color-danger-500);
  --color-danger-50: theme(colors.rose.50);
  --color-danger-100: theme(colors.rose.100);
  --color-danger-200: theme(colors.rose.200);
  --color-danger-300: theme(colors.rose.300);
  --color-danger-400: theme(colors.rose.400);
  --color-danger-500: theme(colors.rose.500);
  --color-danger-600: theme(colors.rose.600);
  --color-danger-700: theme(colors.rose.700);
  --color-danger-800: theme(colors.rose.800);
  --color-danger-900: theme(colors.rose.900);
  --color-danger-950: theme(colors.rose.950);

  --color-warning: var(--color-warning-500);
  --color-warning-100: #fffbeb;
  --color-warning-500: #fe9a00;

  --color-neutral-50: #eef1f2;
  --color-neutral-100: #f6f6f6;
  --color-neutral-200: #f9fafb;
  --color-neutral-250: #e1e4e8; /* deprecated */
  --color-neutral-300: #cfd6dd;
  --color-neutral-400: #aeb4bd;
  --color-neutral-500: #828994;
  --color-neutral-600: #616a7d;
  --color-neutral-700: #444f68;
  --color-neutral-800: #2b3653;
  --color-neutral-900: #1f2124;

  --text-2xs: 0.625rem; /* 10px */
  --text-2xl: 1.625rem; /* 26px */
  --text-3xl: 2rem; /* 32px */
  --text-4xl: 2.5rem; /* 40px */

  --breakpoint-2xl: 90rem;
  --breakpoint-3xl: 100rem;

  --spacing-3xs: calc(var(--spacing) * 1.5);
  --spacing-2xs: calc(var(--spacing) * 2);
  --spacing-xs: calc(var(--spacing) * 4);
  --spacing-sm: calc(var(--spacing) * 6);
  --spacing-md: calc(var(--spacing) * 8);
  --spacing-lg: calc(var(--spacing) * 10);
  --spacing-xl: calc(var(--spacing) * 12);
  --spacing-2xl: calc(var(--spacing) * 14);
  --spacing-3xl: calc(var(--spacing) * 16);

  --shadow-base: 2px 12px 16px 0px #1f283d1a;
  --shadow-raised: 0px 2px 4px 0px #1f21241f;
  --shadow-overlay: 0px 4px 8px 0px #1f212429;
  --shadow-sticky: 0px 8px 16px 0px #1f212433;
  --shadow-popout: 0px 16px 32px 0px #1f21241f;
  --shadow-bottom: 0px -4px 14px 0px #84888e26;

  --animate-fade-zoom-in: fade-zoom-in var(--tw-animate-duration, 1s) var(--tw-animate-easing, ease)
    var(--tw-animate-delay, 0s) var(--tw-animate-iteration, 1) var(--tw-animate-fill, both);
  --animate-fade-zoom-out: fade-zoom-out var(--tw-animate-duration, 1s) var(--tw-animate-easing, ease)
    var(--tw-animate-delay, 0s) var(--tw-animate-iteration, 1) var(--tw-animate-fill, both);

  @keyframes fade-zoom-in {
    0% {
      opacity: 0;
      transform: scale(0.95);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes fade-zoom-out {
    0% {
      opacity: 1;
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: scale(0.95);
    }
  }
}

@layer base {
  :root {
    --t-w-sidebar: 350px;
    --t-w-sidebar-min: 50px;

    --t-h-top-nav: 56px;
    --t-h-sub-nav: 48px;

    @media (min-width: 1600px) {
      --t-w-sidebar: 450px;
    }

    --t-primary: var(--color-primary);
    --t-primary-10: var(--color-primary-10);
    --t-primary-50: var(--color-primary-50);
    --t-primary-100: var(--color-primary-100);
    --t-primary-200: var(--color-primary-200);
    --t-primary-300: var(--color-primary-300);
    --t-primary-500: var(--color-primary-500);
    --t-primary-700: var(--color-primary-700);
    --t-primary-900: var(--color-primary-900);

    --t-secondary: var(--color-secondary);
    --t-secondary-50: var(--color-secondary-50);
    --t-secondary-100: var(--color-secondary-100);
    --t-secondary-200: var(--color-secondary-200);
    --t-secondary-300: var(--color-secondary-300);
    --t-secondary-500: var(--color-secondary-500);
    --t-secondary-700: var(--color-secondary-700);
    --t-secondary-900: var(--color-secondary-900);

    --t-success: var(--color-success);
    --t-success-50: var(--color-success-50);
    --t-success-100: var(--color-success-100);
    --t-success-200: var(--color-success-200);
    --t-success-300: var(--color-success-300);
    --t-success-500: var(--color-success-500);
    --t-success-700: var(--color-success-700);
    --t-success-900: var(--color-success-900);

    --t-danger: var(--color-danger);
    --t-danger-50: var(--color-danger-50);
    --t-danger-100: var(--color-danger-100);
    --t-danger-200: var(--color-danger-200);
    --t-danger-300: var(--color-danger-300);
    --t-danger-500: var(--color-danger-500);
    --t-danger-700: var(--color-danger-700);
    --t-danger-900: var(--color-danger-900);

    --t-neutral: var(--color-neutral-500);
    --t-neutral-0: #fff;
    --t-neutral-25: #f8f9fa;
    --t-neutral-50: var(--color-neutral-50);
    --t-neutral-100: var(--color-neutral-100);
    --t-neutral-200: var(--color-neutral-200);
    --t-neutral-250: var(--color-neutral-250);
    --t-neutral-300: var(--color-neutral-300);
    --t-neutral-400: var(--color-neutral-400);
    --t-neutral-500: var(--color-neutral-500);
    --t-neutral-600: var(--color-neutral-600);
    --t-neutral-700: var(--color-neutral-700);
    --t-neutral-800: var(--color-neutral-800);
    --t-neutral-900: var(--color-neutral-900);

    --t-mono-0: hsl(0, 0%, 0%);
    --t-mono-5: hsla(0, 0%, 0%, 0.05);
    --t-mono-10: hsla(0, 0%, 0%, 0.1);
    --t-mono-15: hsla(0, 0%, 0%, 0.15);
    --t-mono-25: hsla(0, 0%, 0%, 0.25);
    --t-mono-50: hsla(0, 0%, 0%, 0.5);
    --t-mono-75: hsla(0, 0%, 0%, 0.75);
    --t-mono-85: hsla(0, 0%, 0%, 0.85);
    --t-mono-90: hsla(0, 0%, 0%, 0.9);

    --t-shadow-base: var(--shadow-base);
    --t-shadow-raised: var(--shadow-raised);
    --t-shadow-overlay: var(--shadow-overlay);
    --t-shadow-sticky: var(--shadow-sticky);
    --t-shadow-popout: var(--shadow-popout);
    --t-shadow-bottom: var(--shadow-bottom);

    --t-ring-primary: 0 0 0 3px #0d6efd40;

    --t-z-dropdown: 1000;
    --t-z-sticky: 1020;
    --t-z-fixed: 1030;
    --t-z-toolbar: 1050;
    --t-z-offcanvas-backdrop: 2000;
    --t-z-offcanvas: 2005;
    --t-z-sidebar: 2010;
    --t-z-modal-backdrop: 3000;
    --t-z-modal: 3005;
    --t-z-popover: 4010;
    --t-z-tooltip: 4020;
    --t-z-toast: 5000;

    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
  }
}
