.select {
  --control-radius: 0.25rem;

  position: relative;
  display: inline-flex;
  gap: 0.25rem;
  align-items: center;
  justify-content: space-between;
  /* width: 100%; */
  min-width: 9rem;
  min-height: 2.25rem;
  padding: calc(0.375rem - 1px) calc(0.5rem - 1px);
  margin: 0;
  font-family: inherit;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.125rem;
  color: var(--fg);
  text-align: left;
  cursor: default;
  user-select: none;
  outline: none;
  background-color: var(--input);
  border: 1px solid var(--line);
  border-radius: var(--control-radius);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  transition:
    box-shadow 0.15s,
    border-color 0.15s;

  &::before {
    position: absolute;
    inset: 0;
    pointer-events: none;
    content: '';
    border-radius: calc(var(--control-radius) - 1px);
  }

  @media (hover: hover) {
    &:hover:not([data-disabled]) {
      background-color: var(--surface);
    }
  }

  &:not([data-disabled]):not(:focus-visible):not([aria-invalid]):not([data-pressed])::before {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.04%);
  }

  &:focus-visible {
    border-color: var(--color-primary-500);
    box-shadow: 0 0 0 3px color-mix(in oklab, var(--color-primary) 35%, transparent);
  }

  &[aria-invalid] {
    border-color: var(--color-danger-300);
  }

  &[aria-invalid]:focus-visible {
    border-color: var(--color-danger-600);
    box-shadow: 0 0 0 3px color-mix(in oklab, var(--color-danger) 35%, transparent);
  }

  &[data-disabled] {
    pointer-events: none;
    opacity: 0.5;
  }

  [data-placeholder] {
    display: inline-flex;
    flex-grow: 1;
    color: var(--muted);
  }

  &.select-sm {
    gap: 0.25rem;
    min-height: 2rem;
    padding: calc(0.25rem - 1px) calc(0.5rem - 1px);
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 0.875rem;
  }

  &.select-lg,
  &.select-xl,
  &.select-2xl,
  &.select-3xl {
    --control-radius: 0.5rem;
  }

  &.select-lg {
    gap: 0.5rem;
    min-height: 2.5rem;
    padding: calc(0.5rem - 1px) calc(0.75rem - 1px);
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.125rem;
  }

  &.select-xl {
    gap: 0.5rem;
    min-height: 2.75rem;
    padding: calc(0.5rem - 1px) calc(0.75rem - 1px);
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.375rem;
  }

  &.select-2xl {
    gap: 0.5rem;
    min-height: 3rem;
    padding: calc(0.625rem - 1px) calc(1rem - 1px);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.625rem;
  }

  &.select-3xl {
    gap: 0.5rem;
    min-height: 3.5rem;
    padding: calc(0.875rem - 1px) calc(1.25rem - 1px);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.625rem;
  }

  &.rounded-full {
    padding-right: calc(0.75rem + 0.25rem);
    padding-left: calc(0.75rem + 0.25rem);
    border-radius: 50rem;
  }

  &.addon-start {
    padding-left: calc(0.75rem + 1.125rem + 0.5rem);
  }

  &.addon-end {
    padding-right: calc(0.75rem + 1.125rem + 0.5rem);
  }
}
.select-icon {
  display: flex;
  flex-shrink: 0;
  margin: -0.25rem -0.25rem -0.25rem 0;
  color: var(--muted);
  pointer-events: none;
  transition: color 0.15s ease;

  svg {
    width: 1.125rem;
    height: 1.125rem;
  }

  .select:hover:not([data-disabled]) &,
  .select[data-popup-open] & {
    color: var(--fg);
  }
}

.select-positioner {
  z-index: var(--zindex-popover);
}

.select-popup {
  position: relative;
  min-width: var(--anchor-width);
  max-height: var(--available-height);
  padding: 0.25rem;
  overflow: hidden;
  font-size: 0.875rem;
  color: var(--fg);

  outline: 1px solid var(--line);
  background-color: var(--surface-2);
  border: 1px solid var(--line);
  border-radius: 0.5rem;
  box-shadow:
    0 10px 15px -3px color-mix(in oklab, #000 12%, transparent),
    0 4px 6px -4px color-mix(in oklab, #000 8%, transparent);

  &::before {
    position: absolute;
    inset: 0;
    pointer-events: none;
    content: '';
    border-radius: calc(0.5rem - 1px);
    box-shadow: 0 -1px 0 color-mix(in oklab, var(--fg) 6%, transparent);
  }

  .dark & {
    outline-offset: -1px;
  }

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
    transform: scale(0.95);
  }

  &[data-side='none'] {
    opacity: 1;
    transform: none;
    transition: none;
  }
}

.select-arrow {
  display: flex;

  &[data-side='top'] {
    bottom: -8px;
    rotate: 180deg;
  }

  &[data-side='bottom'] {
    top: -8px;
    rotate: 0deg;
  }

  &[data-side='left'] {
    right: -13px;
    rotate: 90deg;
  }

  &[data-side='right'] {
    left: -13px;
    rotate: -90deg;
  }
}

.select-arrow-fill {
  fill: var(--surface-2);
}

.select-arrow-outer-stroke {
  fill: var(--line);
}

.select-arrow-inner-stroke {
  fill: transparent;

  .dark & {
    fill: var(--line);
  }
}

.select-item {
  display: grid;
  grid-template-columns: 1rem 1fr;
  gap: 0.5rem;
  align-items: center;
  min-height: 2rem;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  text-align: left;
  cursor: default;
  user-select: none;
  outline: none;
  scroll-margin-block: 0.5rem;
  border-radius: 0.375rem;
  transition: background-color 0.15s;

  &[data-highlighted] {
    color: var(--fg);
    background-color: var(--surface);
  }

  &[data-disabled] {
    pointer-events: none;
    opacity: 0.5;
  }

  svg {
    /* width: 1.125rem; */
    /* height: 1.125rem; */
    pointer-events: none;
  }

  [data-side='none'] & {
    min-width: calc(var(--anchor-width) + 1rem);
    padding-right: 3rem;
  }
}

.select-item-indicator {
  display: flex;
  grid-column-start: 1;
  align-items: center;
  justify-content: center;
}

.select-item-indicator-icon {
  display: block;
  width: 1.125rem;
  height: 1.125rem;
}

.select-item-text {
  grid-column-start: 2;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.select-separator {
  height: 1px;
  margin: 0.25rem 0.5rem;
  background-color: var(--line);
}

.select-group {
  overflow: hidden;

  &:first-child {
    margin-top: 0;
  }

  + .select-group {
    margin-top: 0;
  }
}

.select-group-label {
  display: block;
  padding: 0.375rem 0.5rem;
  font-size: 0.75rem;
  font-weight: 500;
  color: var(--muted);
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  user-select: none;
}

.select-scroll-arrow {
  position: relative;
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 1.5rem;
  cursor: default;
  user-select: none;

  &::before {
    position: absolute;
    width: 100%;
    height: 200%;
    pointer-events: none;
    content: '';
  }

  &[data-direction='up']::before {
    top: -100%;
  }

  &[data-direction='down']::before {
    bottom: -100%;
  }

  svg {
    position: relative;
    width: 1.125rem;
    height: 1.125rem;
  }
}
