.select {
  --t-input-padding-x: 0.5rem;
  --t-input-padding-y: 0.375rem;
  --t-input-lh: 1.125rem;

  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.75rem;
  height: calc(var(--t-input-lh) + (var(--t-input-padding-y) * 2));
  padding: var(--t-input-padding-y) var(--t-input-padding-x);
  margin: 0;
  outline: 0;
  border: 1px solid var(--t-neutral-300);
  border-radius: 0.375rem;
  font-family: inherit;
  font-size: 0.875rem;
  line-height: var(--t-input-lh);
  color: var(--t-neutral-900);
  cursor: default;
  user-select: none;
  min-width: 9rem;

  @media (hover: hover) {
    &:hover {
      background-color: var(--t-neutral-100);
    }
  }

  &:active {
    background-color: var(--t-neutral-100);
  }

  &[data-popup-open] {
    background-color: var(--t-neutral-100);
  }

  &:focus-visible {
    outline: 2px solid var(--t-primary-300);
    outline-offset: -1px;
  }

  &.select-sm {
    --t-input-padding-x: 0.5rem;
    --t-input-padding-y: 0.25rem;
    --t-input-lh: 1.125rem;
    font-size: 0.75rem;
    font-weight: 500;
  }

  &.select-lg {
    --t-input-padding-x: 0.75rem;
    --t-input-padding-y: 0.5rem;
    --t-input-lh: 1.125rem;
    font-size: 0.875rem;
    font-weight: 500;
  }

  &.select-xl {
    --t-input-padding-x: 1rem;
    --t-input-padding-y: 0.625rem;
    --t-input-lh: 1.125rem;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 0.5rem;
  }

  &.select-2xl {
    --t-input-padding-x: 1rem;
    --t-input-padding-y: 0.75rem;
    --t-input-lh: 1.375rem;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 0.5rem;
  }

  &.select-3xl {
    --t-input-padding-x: 1rem;
    --t-input-padding-y: 1rem;
    --t-input-lh: 1.375rem;
    font-size: 1.125rem;
    font-weight: 500;
    border-radius: 0.5rem;
  }

  &.rounded-full {
    border-radius: 50rem;
    padding-left: calc(var(--t-input-padding-x) + 0.25rem);
    padding-right: calc(var(--t-input-padding-x) + 0.25rem);
  }

  &.addon-start {
    padding-left: calc(var(--t-input-padding-x) + var(--t-input-lh) + 0.5rem);
  }

  &.addon-end {
    padding-right: calc(var(--t-input-padding-x) + var(--t-input-lh) + 0.5rem);
  }
}

.select-icon {
  display: flex;
}

.select-popup {
  box-sizing: border-box;
  padding-block: 0.25rem;
  border-radius: 0.375rem;
  background-color: canvas;
  color: var(--t-neutral-900);
  transform-origin: var(--transform-origin);
  transition:
    transform 150ms,
    opacity 150ms;
  overflow-y: auto;
  max-height: var(--available-height);

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
    transform: scale(0.9);
  }

  &[data-side='none'] {
    transition: none;
    transform: none;
    opacity: 1;
  }

  @media (prefers-color-scheme: light) {
    outline: 1px solid var(--t-neutral-200);
    box-shadow:
      0 10px 15px -3px var(--t-neutral-200),
      0 4px 6px -4px var(--t-neutral-200);
  }

  @media (prefers-color-scheme: dark) {
    outline: 1px solid var(--t-neutral-300);
    outline-offset: -1px;
  }
}

.select-arrow {
  display: flex;

  &[data-side='top'] {
    bottom: -8px;
    rotate: 180deg;
  }

  &[data-side='bottom'] {
    top: -8px;
    rotate: 0deg;
  }

  &[data-side='left'] {
    right: -13px;
    rotate: 90deg;
  }

  &[data-side='right'] {
    left: -13px;
    rotate: -90deg;
  }
}

.select-arrow-fill {
  fill: canvas;
}

.select-arrow-outer-stroke {
  @media (prefers-color-scheme: light) {
    fill: var(--t-neutral-200);
  }
}

.select-arrow-inner-stroke {
  @media (prefers-color-scheme: dark) {
    fill: var(--t-neutral-300);
  }
}

.select-item {
  box-sizing: border-box;
  outline: 0;
  font-size: 0.875rem;
  line-height: 1rem;
  padding-block: 0.5rem;
  padding-left: 0.625rem;
  padding-right: 1rem;
  min-width: var(--anchor-width);
  display: grid;
  gap: 0.5rem;
  align-items: center;
  grid-template-columns: 0.75rem 1fr;
  cursor: default;
  user-select: none;
  scroll-margin-block: 1rem;

  [data-side='none'] & {
    font-size: 1rem;
    padding-right: 3rem;
    min-width: calc(var(--anchor-width) + 1rem);
  }

  &[data-highlighted] {
    z-index: 0;
    position: relative;
    color: var(--t-neutral-50);
  }

  &[data-highlighted]::before {
    content: '';
    z-index: -1;
    position: absolute;
    inset-block: 0;
    inset-inline: 0.25rem;
    border-radius: 0.25rem;
    background-color: var(--t-neutral-900);
  }
}

.select-item-indicator {
  grid-column-start: 1;
}

.select-item-indicator-icon {
  display: block;
  width: 0.75rem;
  height: 0.75rem;
}

.select-item-text {
  grid-column-start: 2;
}

.select-scroll-arrow {
  width: 100%;
  background: canvas;
  z-index: 1;
  text-align: center;
  cursor: default;
  border-radius: 0.375rem;
  height: 1rem;
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
  }

  &[data-direction='up'] {
    &::before {
      top: -100%;
    }
  }

  &[data-direction='down'] {
    bottom: 0;

    &::before {
      bottom: -100%;
    }
  }
}
