.tabs {
  .tabs-list {
    display: flex;
    position: relative;
    z-index: 0;
    padding-inline: 0.25rem;
    gap: 0.25rem;
    box-shadow: inset 0 -1px var(--color-slate-300);

    /* Vertical orientation */
    &[data-orientation='vertical'] {
      flex-direction: column;
      padding-inline: 0;
      padding-block: 0.25rem;
      gap: 0.125rem;
      box-shadow: none;

      @media (min-width: 1280px) {
        border-left: 1px dashed var(--color-slate-300);
      }
    }
  }

  .tabs-tab {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    margin: 0;
    background: none;
    appearance: none;
    outline: none;
    color: var(--color-slate-900);
    font-family: inherit;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
    user-select: none;
    white-space: nowrap;
    word-break: keep-all;
    padding-inline: 0.5rem;
    padding-block: 0;
    height: 2rem;

    &[data-selected] {
      color: var(--color-primary-500);
    }

    @media (hover: hover) {
      &:hover {
        color: var(--color-primary-500);
      }
    }

    &:focus-visible {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        inset: 0.25rem 0;
        border-radius: 0.25rem;
        outline: none;
        background-color: var(--color-slate-100);
        z-index: -1;
      }
    }

    /* Vertical orientation styling */
    .tabs-list[data-orientation='vertical'] & {
      margin-left: 0.5rem;
      padding: 0.25rem 0.5rem;
      border-radius: 0.375rem;
      justify-content: flex-start;
      text-align: left;
      height: auto;
      white-space: normal;
      color: var(--color-slate-600);
      font-size: 0.8125rem;
      line-height: 1.25rem;
      transition:
        background-color 150ms,
        color 150ms;

      &[data-selected] {
        background-color: var(--color-slate-100);
        color: var(--color-slate-900);
      }

      @media (hover: hover) {
        &:hover {
          background-color: var(--color-slate-100);
          color: var(--color-slate-900);
        }
      }
    }
  }

  .tabs-indicator {
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: -1px;
    translate: var(--active-tab-left) -50%;
    width: var(--active-tab-width);
    height: 3px;
    border-radius: 0.25rem 0.25rem 0 0;
    background-color: var(--color-primary-500);
    transition-property: translate, width;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;

    /* Vertical orientation */
    .tabs-list[data-orientation='vertical'] & {
      left: -1px;
      bottom: auto;
      top: 0;
      translate: -50% var(--active-tab-top);
      width: 3px;
      height: var(--active-tab-height);
      border-radius: 0 0.25rem 0.25rem 0;
      transition-property: translate, height;
    }
  }

  .tabs-panel {
    /* margin-top: 2px; */
    outline: none;
    padding: 0.25rem;

    &:focus-visible {
      outline: 2px solid var(--color-primary-100);
      outline-offset: -1px;
      border-radius: 0.25rem;
    }

    &[hidden] {
      display: none;
    }
  }
}
