.tooltip-positioner {
  z-index: var(--zindex-tooltip);
}

.tooltip-popup {
  box-sizing: border-box;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.25rem;
  display: flex;
  flex-direction: column;
  padding: 0.125rem 0.5rem;
  border-radius: 0.25rem;
  color: #fff;
  background-color: var(--color-slate-900);
  transform-origin: var(--transform-origin);
  white-space: nowrap;
  z-index: var(--zindex-tooltip);
  transition:
    transform 150ms,
    opacity 150ms;

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
    transform: scale(0.9);
  }

  &[data-instant] {
    transition-duration: 0ms;
  }

  @media (prefers-color-scheme: light) {
    outline: 1px solid var(--color-slate-800);
    /* box-shadow:
      0 10px 15px -3px var(--color-slate-200),
      0 4px 6px -4px var(--color-slate-200); */
  }

  @media (prefers-color-scheme: dark) {
    outline: 1px solid var(--color-slate-800);
    outline-offset: -1px;
  }
}

.tooltip-arrow {
  display: flex;
  z-index: var(--zindex-tooltip);

  &[data-side='top'] {
    bottom: -12px;
    rotate: 180deg;
  }

  &[data-side='bottom'] {
    top: -12px;
    rotate: 0deg;
  }

  &[data-side='left'] {
    right: -13px;
    rotate: 90deg;
  }

  &[data-side='right'] {
    left: -13px;
    rotate: -90deg;
  }
}
