.h1 {
  font-size: 1.25rem;
  line-height: 1.5;
  @apply font-semibold;

  @media (min-width: 64rem) {
    font-size: 2.5rem;
  }
}

.h2 {
  font-size: 1.75rem;
  line-height: 1.5;
  @apply font-medium;

  @media (min-width: 64rem) {
    font-size: 2rem;
  }
}

.h3 {
  font-size: 1.25rem;
  line-height: 1.5;
  @apply font-medium;
}

.h4 {
  font-size: 1.125rem;
  line-height: 1.75rem;
  @apply font-medium;
}

.h5 {
  font-size: 1rem;
  line-height: 1.625rem;
  @apply font-medium;
}

.h6 {
  font-size: 0.9375rem;
  line-height: 1.5rem;
  @apply font-medium;
}
