.z-dropdown {
  z-index: var(--t-z-dropdown);
}
.z-sticky {
  z-index: var(--t-z-sticky);
}
.z-fixed {
  z-index: var(--t-z-fixed);
}
.z-toolbar {
  z-index: var(--t-z-toolbar);
}
.z-offcanvas-backdrop {
  z-index: var(--t-z-offcanvas-backdrop);
}
.z-offcanvas {
  z-index: var(--t-z-offcanvas);
}
.z-sidebar {
  z-index: var(--t-z-sidebar);
}
.z-modal-backdrop {
  z-index: var(--t-z-modal-backdrop);
}
.z-modal {
  z-index: var(--t-z-modal);
}
.z-popover {
  z-index: var(--t-z-popover);
}
.z-tooltip {
  z-index: var(--t-z-tooltip);
}
.z-toast {
  z-index: var(--t-z-toast);
}
