@import '../../../core/src/styles/tailwind.css';
@import './_details.css' layer(components);
@import './_toc.css' layer(components);
/* @import './_docs.css' layer(components); */

@source '../';

@layer base {
  section {
    @apply mb-10;
  }
}
