@import '../../../core/src/styles/tailwind.css';

@source '../';

#root,
body {
  overflow-x: hidden;
  @apply grid h-dvh w-screen grid-cols-[auto_1fr];
}

@layer base {
  section {
    @apply mb-lg;
  }
}
