@import '../../../core/src/styles/tailwind.css';

@source '../';

#root,
body {
  overflow-x: hidden;
  grid-template-columns: 0 1fr;
  @apply grid h-dvh w-screen;

  @media (min-width: 768px) {
    grid-template-columns: auto 1fr;
  }
}

@layer base {
  section {
    @apply mb-10;
  }
}
